.App {
    display: flex;
}

.side-panel {
    width: 300px;
}

.station-chart {
    flex-grow: 1;
}

.station-dropdown {
    display: block;
}

.station-dropdown select,
.station-dropdown label {
    display: block;
}
